commands:
  01_upgrade_pip_global:
    command: "/opt/python/run/venv/bin/pip install --upgrade pip"
    
container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python celerydjango/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python celerydjango/manage.py collectstatic --noinput"
    leader_only: true
