files:
    "/var/app/install_rabbitmq.sh":
        mode: "000777"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash

            yum -y update

            wget http://dl.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-8.noarch.rpm
                        
            wget http://rpms.famillecollet.com/enterprise/remi-release-6.rpm
                        
            rpm -Uvh remi-release-6*.rpm epel-release-6*.rpm
            
            wget http://www.rabbitmq.com/releases/rabbitmq-server/v3.2.2/rabbitmq-server-3.2.2-1.noarch.rpm
            
            rpm --import http://www.rabbitmq.com/rabbitmq-signing-key-public.asc
            
            yum install -y rabbitmq-server-3.2.2-1.noarch.rpm
            
            chkconfig rabbitmq-server on
            
            service rabbitmq-server start

            echo "Done installing rabbitmq"
            
    "/var/app/install_rabbitmq_management.sh":
        mode: "000777"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            
            echo "Installing rabbitmq management"
            
            rabbitmq-plugins enable rabbitmq_management
            
            echo "Done"
                    
            rabbitmqctl  add_user myuser mypassword

            rabbitmqctl add_vhost myvhost
            
            rabbitmqctl  set_user_tags myuser administrator
            
            rabbitmqctl  set_permissions -p myvhost myuser ".*" ".*" ".*"
            
            service rabbitmq-server restart

            echo "Done installing rabbitmq management"
            
    "/var/app/start_rabbitmq.sh":
        mode: "000777"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
  
            service rabbitmq-server start
         
    "/var/app/restart_rabbitmq.sh":
        mode: "000777"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
  
            service rabbitmq-server restart
commands:
  02_install_rabbitmq:
    command: "/var/app/install_rabbitmq.sh"
    leader_only: true
  03_install_rabbitmq_management:
    command: "/var/app/install_rabbitmq_management.sh"
    leader_only: true
  04_start_rabbitmq:
    command: "/var/app/start_rabbitmq.sh"
    leader_only: true
  05_restart_rabbitmq:
    command: "/var/app/restart_rabbitmq.sh"
    leader_only: true
